body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    color: #222;
}

body.fondo-inicio {
    background: #f4f4f4;
    color: #222;
    background-image: url('img/Fondo.avif');
    background-size: cover;
}

body.fondo-contacto {
    background: #0dcc1d;
    color: #222;
}

.top-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    padding: 10px 20px;
    background-color: white;
    
}

.site-title {
    font-size: 40px;
    font-weight: bold;
    color: rgb(212, 118, 29);
}

.nav-menu {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin: 0;
    padding: 0;
}

.nav-menu li {
    margin: 0 1.5em;
    display: inline-block;
}

.nav-menu li a {
    text-decoration: none;
    color: rgb(212, 118, 29);
    font-size: 1.1em;
    font-weight: bold;
    background: none;
}

.nav-menu li a:hover {
    color: #0934aa;
}



